
@font-face {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Merriweather-Regular.ttf);
}
@font-face {
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Oswald-Regular.ttf);
}
@font-face {
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	src: url(../fonts/Oswald-Bold.ttf);
}

body {
	background-size: cover;
	background: rgba(0, 0, 0, .95) no-repeat fixed top;
}

label, legend {
	font-family:
		Oswald,
		Arial,
		Helvetica,
		sans-serif;
	font-size: 14pt;
	font-weight: normal;
	color: #fff;
}

legend {
	font-family:
		Oswald,
		Arial,
		Helvetica,
		sans-serif;
	font-size: 16pt;
	font-weight: bold;
	font-variant: small-caps;
}

fieldset {
	background-color: rgba(255,255,255, .1);
	border:
		3px
		solid
		#fff;
	border-radius: 8px;
}

input:hover, select:hover {
	background: rgba(255, 255, 255, .25);
	transition: 0.2s ease;
}
input:focus, select:focus {
	box-shadow: 0 0 10px rgba(255, 255, 255, .25);
	transition: 0.1s ease-in-out;
}

input {
	margin-top: .5vh;
	padding: 1vh;

	border: none;
	border-radius: 5px;
	outline: none;

	font-family:
			Merriweather,
			Times New Roman,
			Times,
			serif;
	font-size: 11pt;

	color: black;
	background-color: rgba(255,255,255,.5);

}
input[type="text"]::placeholder {
	font-style: italic;
	color: rgba(255, 255, 255, .5);
	transition: 0.075s linear;
}
input[type="text"]:focus::placeholder {
	color: transparent;
	transition: 0.075s linear;
}

input[type="file"] {
	padding: 8px;
	color: black;

	cursor: pointer;
}
input[type="file"]::-webkit-file-upload-button {
	display: none;
}

input[type="submit"] {
	background-color: rgba(255, 255, 255, 1);
	transition: 0.2s ease;
}
input[type="submit"]:hover {
	background-color: rgba(255, 255, 255, .5);
}
input[type="submit"]:active {
	background-color: rgba(255, 255, 255, 0.25);
}
input[type="submit"] {
	font-family:
			Oswald,
			Arial,
			Helvetica,
			sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	font-variant: small-caps;

	cursor: pointer;
}