
/* Disable viewing of default radio element */
.def-radio {
	position: absolute;
	
	width: 0;
	height: 0;
	opacity: 0;
	z-index: -1;
}

.custom-container {
	cursor: pointer;
}

/* Drawing of new radio button */
.custom-radio {
	position: relative;
	display: inline-block;				
	margin: 0 5% 0 15%;
	
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, .5);
	border-radius: 50%;

	vertical-align: middle;
}

/* Drawing of selection pointer */
.custom-radio::before {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	display: inline-block;
	
	width: 10px;
	height: 10px;
	background: rgba(255, 255, 255, 1);
	border-radius: 50%;
	
	transform: translate(-50%, -50%) scale(0);
	transition: 0.2s ease;
}

/* Changing FOCUS state */
.def-radio:focus + .custom-radio {
	box-shadow: 0 0 10px rgba(255, 255, 255, .25);
	transition: 0.1s ease-in-out;
}

/* Changing HOVER state */
.def-radio:hover + .custom-radio {
	background: rgba(255, 255, 255, .25);
	transition: 0.2s ease;
}

/* Changing CHECKED state */
.def-radio:checked + .custom-radio::before {
	transform: translate(-50%, -50%) scale(1);
}